# Node.js dependencies
node_modules
npm-debug.log

# Python dependencies
__pycache__
*.pyc
*.pyo
*.pyd
Pipfile
Pipfile.lock
venv

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode
.idea
*.swp

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Other
.env
